.about-bg {
    background-image: url('../../images/title-pic2.jpg');
    background-position-y: 40%;
}

.courses-bg {
    background-image: url('../../images/locker-picture.jpg');
}

.testimonials-bg {
    background-image: url('../../images/title-pic3.jpg');
    background-position-y: 50%;
}

.contact-bg {
    background-image: url('../../images/title-pic4.jpg');
}

.header-picture-container {
    width: 100%;
    margin: auto;
    position: relative;
    text-align: center;
    color: white;
    margin-top: 70px;
    height: 150px;
    background-size: cover;
}

@media screen and (min-width: 600px) {
    .header-picture-container {
        width: 70%;
        height: 300px;
    }
}

.header-text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    width: 100%;
}

@media screen and (min-width: 600px) {
    .header-text {
        font-size: 50px;
    }
}